$color-green:#8DD35F;
$color-light-green: lighten($color-green, 32%);
$color-dark-green: darken($color-green, 25%);
$color-white: #fff;
$color-black: #000;
$color-light-gray:#f6f6f6;
$color-dark-gray:#e7e7e7;
$color-gray:lighten($color-black, 50%);
$color-red:#b33251;
$color-blue:#3a98cd;
